.fixed-button {
  border-radius: 8px;
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
}

.chat-card {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #000000;
  margin-bottom: 5px;
}
