// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  border-radius: 15px ;
  background-color: #64A25F;
  opacity: 59%;
  padding: 200px 0;
}

.banner h1 {
  display:flex;
  justify-content: center;
  margin: 0;
  color: #FCFFFE;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
}

.banner p {
  display:flex;
  justify-content: center;
  font-size: 30px;
  font-weight:400;
  line-height: 48px;
  font-style: normal;
  color: #121112;
  /*text-shadow: 1px 1px 3px rgba(0,0,0,0.2);*/
}

.chat{
  content: url('https://api.iconify.design/fluent/chat-32-regular.svg');
}


.card bookmark-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
