// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "tour_index";

.btn.bookmark-button {
  padding: 0;
  background: none;
  border: none;
  color: orange;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn.bookmark-button i {
  transition: color 0.3s;
}

.btn.bookmark-button:hover i {
  color: red;
}

.btn.bookmark-button.active i {
  color: red;
}

.card .bookmark-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
}
