h1,
h2,
h3 {
  font-family: "Sora";
  font-weight: 600;
  color: rgb(80, 75, 75);
}

p,
h5 {
  color: rgb(80, 75, 75);
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-box {
  width: 280px;
  height: 300px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge-box {
  width: 280px;
  height: 500px;
  padding-top: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-box {
  width: 280px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 1);
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-box {
  width: 1000px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.create-card {
  display: inline-block;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #eeac41 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  cursor: pointer;
}

.plus-sign {
  font-size: 40px;
  font-weight: bold;
  color: #eeac41;
}

.trip-card {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rounded-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.edit-button {
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
}

.comment-card {
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.height {
  height: 100px;
  overflow-y: scroll;
}

.bookmark {
  width: 250px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #000000;
  margin-top: 10px;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: 0;
  padding-left: 10px;
}

.list li {
  margin-bottom: 7px;
}

.badge-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
}

.parent-img {
  position: relative;
}

.child-img {
  position: absolute;
  top: -6px;
  left: 38px;
  background-color: rgb(162, 86, 86);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
  color: #a6db93;
  background-color: #38785f;
  border: 2px solid #38785f;
}
