.main-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-box {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge-box {
  width: 250px;
  height: 300px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-box {
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-box {
  width: 1000px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.create-card {
  display: inline-block;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #EEAC41 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  cursor: pointer;
}

.plus-sign {
  font-size: 40px;
  font-weight: bold;
  color: #EEAC41;
}

.trip-card {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rounded-image {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.edit-button {
  background-color: transparent;
  border: none;
  color: inherit;
  text-decoration: none;
}

.comment-card {
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.height {
  height: 100px;
  overflow-y: scroll;
}
<<<<<<< HEAD
=======

.bookmark {
  width: 250px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #000000;
  margin-top: 10px;
}


.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  margin-left: 0;
  padding-left: 10px;
}

.list li {
  margin-bottom: 7px;
}
>>>>>>> e4663a393e0be2ec155d26f5325edcc5d622e507
