.parent {
  position: relative;
}

.child {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

<<<<<<< HEAD

.child2 {
  position: relative;
  bottom: 8px;
  justify-content: space-between;
  padding: 5px;
=======
.card-img-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
>>>>>>> abea8fdf21d20b923eba89fc5872fb36cfe9823f
}
