
<div class="banner mt-3" style= linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)>
  <div class="container">
    <h1>PRO TRAVELLERS GUIDE</h1>
    <p>Unveil the World with a Personal Guide at Your Side</p>
  </div>
</div>
